/* OLED секция */
&i2c1 {
    status = "okay";
    sda-pin = <26>;    // ← заменить на ваш SDA pin для OLED на правой стороне, если отличается!
    scl-pin = <27>;    // ← заменить на ваш SCL pin для OLED на правой стороне, если отличается!

    oled@3c {
        compatible = "solomon,ssd1306fb";
        reg = <0x3c>;
        width = <128>;
        height = <32>;
        display-rotation = "180";     // 180 если дисплей “вверх ногами”, иначе 0
        label = "OLED_DISPLAY";
    };
};

/* RGB подсветка */
&spi3 {
    compatible = "nordic,nrf-spim";
    status = "okay";
    pinctrl-0 = <&spi3_default>;
    pinctrl-1 = <&spi3_sleep>;
    pinctrl-names = "default", "sleep";

    led_strip: ws2812@0 {
        compatible = "worldsemi,ws2812-spi";
        reg = <0>;
        spi-max-frequency = <4000000>; // меньше или равно 8MHz, часто 4MHz стабильнее
        chain-length = <24>;           // количество диодов на этой стороне!
        spi-one-frame = <0x70>;
        spi-zero-frame = <0x40>;
        color-mapping = <LED_COLOR_ID_GREEN LED_COLOR_ID_RED LED_COLOR_ID_BLUE>;
        status = "okay";
    };
};